<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="noindex,nofollow">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- build:css(app) /css/main.css -->
        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <script src="http://localhost:35729/livereload.js"></script>

        <!-- Bootstrap Core CSS -->

        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Customizable CSS -->
        <link href="css/main.css" rel="stylesheet" data-skrollr-stylesheet>
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/owl.transitions.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">

        <!-- endbuild -->

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    </head>
    <body>
      <main>
        {{ content }}
      </main>
      {% include footer.md %}
      

    <!-- build:js(app) /js/scripts.js -->

    <script src="js/main.js"></script>

    <!-- endbuild -->

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/skrollr.stylesheets.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.easytabs.min.js"></script>
    <script src="js/jquery.slickforms.js"></script>
    <script src="js/google.maps.api.v3.js"></script>
    <script src="js/viewport-units-buggyfill.js"></script>
    <script src="js/scripts.js"></script>
    </body>
</html>
