<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="robots" content="noindex,nofollow">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- build:css(app) /css/main.css -->
        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <script src="http://localhost:35729/livereload.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Customizable CSS -->
        <link href="/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
        <!--<link href="/css/green.css" rel="stylesheet" title="Color">-->
        <link href="/css/owl.carousel.css" rel="stylesheet">
        <link href="/css/owl.transitions.css" rel="stylesheet">
        <link href="/css/animate.min.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    </head>
    <body>
      <!-- MAIN -->
      <main>

        <!-- SECTION -->
        <section>
          <div class="container inner-top-sm">
            <div class="row">
              <div class="col-md-10 center-block text-center">
                <header>
                  <h1>Este verano #MadridEsPop</h1>
                  <p>Las exposiciones <strong>Mitos del Pop</strong> del Museo Thyssen y <strong>Richard Hamilton</strong> en el Museo Reina Sofía convierten a Madrid en <a href="">epicentro del Pop Art</a>.</p>
                </header>
              </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row inner-top-xs">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 inner-xs">
                    <h2 class="single-block">Mitos del Pop</h2>
                    <p>10 de junio – 14 de septiembre</p>
                    <p><img src="assets/images/img.logo-museo-thyssen.png" alt="MUSEO THYSSEN-BORNEMISZA" class="img-responsive"></p>
                    <p class="text-small">Sala de exposiciones. Planta baja</p>
                  </div><!-- /.col -->
                  <div class="col-md-6 inner-xs">
                    <h2 class="single-block">Richard Hamilton</h2>
                    <p>27 de junio – 13 de octubre </p>
                    <p><img src="assets/images/img.logo-museo-reina-sofia.png" class="img-responsive" alt="MUSEO NACIONAL CENTRO DE ARTE REINA SOFÍA"></p>
                    <p class="text-small">Edificio Sabatini, Planta 3</p>
                  </div><!-- /.col -->
                </div>
                <div class="text-center">
                  <a href="#" class="btn btn-large">Compra tu entrada</a>
                </div>
              </div>
              <div class="col-md-6 inner-left-xs">
                <figure class="inner-bottom-xs"><img src="assets/images/img.pop.png" alt="POP" class="img-responsive"></figure>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </section>
        <!-- SECTION : END -->


        <!-- SECTION -->
        <section class="tint-bg">
          <div class="container inner-sm">
            <div class="row">
              <div class="col-md-8 col-sm-9">
                <header>
                  <h1>#MadridEsPop</h1>
                  <p>Este verano, Madrid se convierte en epicentro del Pop Art al coincidir la exposición <strong>Los Mitos del Pop</strong> que presenta el <strong>Museo Thyssen</strong> y la que el <strong>Museo Reina Sofía</strong> dedica a uno de sus mayores protagonistas, <strong>Richard Hamilton</strong>. Las exposiciones, a través de más de 300 obras, revisan los tradicionales mitos del movimiento Pop e ilustran las inquietudes de una sociedad que quería olvidar el trauma de la guerra y reconocía de un modo crítico el boom de la cultura de masas y la nueva sociedad de consumo.</p>
                </header>
              </div><!-- /.col -->
            </div><!-- /.row -->
            
          </div><!-- /.container -->
        </section>
        <!-- SECTION : END -->
        

        <!-- SECTION -->
        <section class="dark-bg">
          <div class="container inner-xs">
            <div class="row">
              <div class="col-sm-10 center-block text-center">
                <h2 class="single-block">¿Quieres visitar las dos exposiciones por 13 €? <a href="#" class="btn btn-large">Compra tu abono conjunto</a></h2>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </section>
        <!-- SECTION : END -->


        <!-- SECTION -->
        <section>
          <div class="container inner-sm">
            <header class="text-center">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  <h2>O si lo prefieres puedes visitar una de las dos exposiciones</h2>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </header>
            <div class="row">
              <div class="col-sm-6">
                <figure>
                  <img src="assets/images/img.logo-mitos-pop.png" alt="Mitos del Pop" class="img-responsive">
                </figure>
                <h2>Mitos del Pop </h2>
                <p>10 de junio – 14 de septiembre <br>
                  MUSEO THYSSEN-BORNEMISZA <br>
                  Sala de exposiciones. Planta baja</p>
                <div class="inner-bottom-sm">
                  <div class="row">
                    <div class="col-lg-6">
                      <ul class="list-unstyled">
                        <li>De martes a sábado de 10:00 a 22:00h</li>
                        <li>Último pase: 20:45h.</li>
                        <li>Lunes y domingo de 10:00 a 19:00h</li>
                        <li>Último pase: 17:45h.</li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <a href="#" class="btn btn-large">Compra tu entrada</a>
                    </div>
                  </div>
                  <p class="text-small">Recuerde que el acceso a esta exposición se realiza con pase horario. Por favor, compruebe que el pase horario asignado es el que deseaba. Tenga en cuenta que no podrá visitar esta exposición en un horario distinto. <br>Desalojo de las salas: 5 minutos antes del cierre.</p>
                </div>      
              </div><!-- /.col -->
              <div class="col-sm-6">
                <figure>
                  <img src="assets/images/img.logo-richard-hamilton.png" alt="Richard Hamilton" class="img-responsive">
                </figure>
                <h2>Richard Hamilton</h2>
                <p>27 de junio – 13 de octubre <br>
                  MUSEO NACIONAL CENTRO DE ARTE REINA SOFÍA <br>
                  Edificio Sabatini, Planta 3</p>
                <div class="row">     
                  <div class="col-lg-6">
                    <ul class="list-unstyled">
                      <li>De lunes a sábado de 10:00 a 18:30h</li>
                      <li>Domingo de 10:00 a 19:00h</li>
                      <li>Martes cerrado.</li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <a href="#" class="btn btn-large">Compra tu entrada</a>
                  </div>
                </div>
                  <p class="text-small">Desalojo de las salas: 15 minutos antes del cierre<br>
                  No se asigna pase horario para acceder a esta exposición. Puede visitar esta muestra en el día y la hora que desee hasta la fecha de su clausura, 13 de octubre.<br>
                  Esta entrada no es válida el 12 de octubre, ya que este día la visita al Museo es gratuita para todos los públicos.</p> 
              </div><!-- /.col --> 
            </div><!-- /.row -->
            <div class="inner-xs light-bg">
              <div class="row">
                <div class="col-sm-5 col-sm-offset-1 inner-bottom-xs">
                  <p>Esta entrada no incluye el acceso a las respectivas colecciones de ambos museos ni a otras exposiciones temporales del Museo Thyssen-Bornemisza.</p>
                </div>
                <div class="col-sm-5 inner-bottom-xs">
                  <p>Conserve la entrada. Imprescindible su presentación en los accesos de ambas exposiciones.</p> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <p><strong>Importante</strong>: La reentrada a estas exposiciones no está permitida</p>
                </div>
              </div>
            </div>
          </div><!-- /.container -->
        </section>
        <!-- SECTION : END -->

        
        <!-- SECTION -->
        <section class="dark-bg">
          <div class="container inner-sm">
            <header>
              <h1 class="text-center">#MadridEsPop en imágenes</h1>
            </header>
            <div class="row">
              <div id="owl-latest-works" class="owl-carousel owl-item-gap">
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
                <div class="item">
                  <a href="portfolio-post.html">
                    <figure>
                      <img src="http://placehold.it/570x390">
                    </figure>
                  </a>
                </div><!-- /.item -->
                
              </div><!-- /.owl-carousel -->
            </div><!-- /.row -->
          </div>
        </section>
        <!-- SECTION : END -->

      </main>
      <!-- MAIN : END -->


      <!-- FOOTER -->
      <footer>
        <div class="footer-bottom">
          <div class="container inner">
            <p class="pull-left">© Museo Nacional Centro de Arte Reina Sofía - Museo Thyssen - Bornemisza 2014</p>
          </div><!-- .container -->
        </div><!-- .footer-bottom -->
      </footer>
      <!-- FOOTER : END -->

      <!-- Template jekyll
      {{ site.name }}
      {{ content }}
      Template jekyll -->
      

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/skrollr.stylesheets.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.easytabs.min.js"></script>
    <script src="js/jquery.slickforms.js"></script>
    <script src="js/google.maps.api.v3.js"></script>
    <script src="js/viewport-units-buggyfill.js"></script>
    <script src="js/scripts.js"></script>
    </body>
</html>
