<section id="exhibitions">
  <div class="container inner-sm">
    <div class="row animate">
      <div class="col-sm-6 inner-bottom-sm">
        <h2>Pop Art Myths </h2>
        <p>10th June - 14th September <br>
          MUSEO THYSSEN-BORNEMISZA <br>
          Temporary Exhibition Galleries, Ground Floor
        </p>
        <ul class="schedule list-unstyled text-small">
          <li>Tuesday - Saturday: 10.00h - 22.00h</li>
          <li>Last entry: 20:45h.</li>
          <li>Sunday and Monday: 10:00h - 19:00h</li>
          <li>Last entry: 17:45h.</li>
        </ul>
        <p class="text-small"><strong>Please remember entry is organised by timed slots</strong>. Please check that your assigned entry time is the one you wanted. Remember that you may not visit the exhibition at any other time other than that stated on your ticket. <br>Visitors are asked to leave the galleries 5 minutes before closing.</p>
        <p>Paseo del Prado 8, 28014 Madrid Tel. +34 902 760 511</p>
      </div>
      <div class="col-sm-6 inner-bottom-sm">
        <h2>Richard Hamilton</h2>
        <p>27th June - 13th October <br>
          MUSEO NACIONAL CENTRO DE ARTE REINA SOFÍA <br>
          Edificio Sabatini, Planta 3</p>
        <ul class="schedule list-unstyled text-small">
          <li>Tuesday – Saturday: 10.00h - 21.00h</li>
          <li>Last entry to #MadridIsPop: 17:30h</li>
          <li>Sunday: 10:00h - 19:00h</li>
          <li>Last entry to #MadridIsPop: 12:00h</li>
          <li>Closed on Tuesdays.</li>
        </ul>
        <p class="text-small">Visitors are asked to leave the galleries 15 minutes before closing<br>
          There are no assigned entry times to see this exhibition. You may visit this exhibition on the day and at the time you choose until it finishes on the 13th October 2014.<br>
          This ticket is not valid on the 12th October, as on this day entry is free for everyone.</p>
        <p>Santa Isabel 52, 28012 Madrid Tel. +34 917 741 000</p>
      </div> 
    </div>
    <div class="light-bg">
      <div class="row">
        <div class="col-sm-6 inner-bottom-xs">
          <p>This ticket does not include access to the permanent collections of the respective museums, nor to other temporary exhibitions running at the Thyssen-Bornemisza Museum.</p>
        </div>
        <div class="col-sm-6 inner-bottom-xs">
          <p>Please keep your ticket for entry into both exhibitions.</p>
        </div>
      </div>
      <p><strong>Important</strong>: Once you leave, you may not re-enter the exhibitions</p>
    </div>
  </div>
</section>