<section id="about" class="tint-bg">
  <div class="container inner-top-sm animate">
    <header>
      <h1>#MadridIsPop</h1>
      <div class="row">
        <div class="col-md-7 inner-bottom-sm">
          <p>This summer Madrid will turn into a centre of Pop Art, to coincide with two exhibitions; <strong>Pop Art Myths</strong>, which is being organised by the <strong>Thyssen-Bornemisza Museum</strong> and <strong>Richard Hamilton</strong> organised by the <strong>Museo Reina Sofía</strong>, focusing on one of the great protagonists of Pop Art. The two exhibitions, made up of more than 300 works of art, look at the traditional myths of the Pop movement from a different perspective, highlighting the turbulence of a society that sought to forget the trauma of war. It also takes a critical view of the boom of mass culture and of a new society of consumerism.</p>
        </div>
        <div class="col-md-5 inner-bottom-sm">
          {% include twitter.html %}
        </div>
      </div>
    </header>
  </div>
</section>