<section id="deepbanner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 center-block text-center">
        <header class="inner-top-sm inner-bottom-xs">
          <h1>This summer #MadridIsPop</h1>
          <p>This summer the exhibitions <strong>Pop Art Myths</strong> in the Thyssen-Bornemisza Museum and <strong>Richard Hamilton</strong> in the Museo Reina Sofía will turn Madrid into a <a href="#about" class="smooth_scroll">centre of Pop Art</a>.</p>
        </header>
      </div>
    </div>

    {% include aviso.html %}

    <div class="row inner-top-xs">
      <div class="col-xs-6 col-xs-offset-3 col-md-offset-0 col-md-5 col-md-push-7 col-lg-4 col-lg-push-7 col-xxs-full inner-bottom-xs">
        <figure><img src="{{site.baseurl}}assets/images/img.pop.png" alt="POP" class="img-responsive"></figure>
      </div>
      <div class="col-xs-12 col-md-7 col-md-pull-5 col-lg-6 col-lg-pull-3">
        <div class="row">
          <div class="exhibition col-xs-6 col-xxs-full inner-bottom-sm">
            <h2 class="single-block">Pop Art Myths</h2>
            <p>10th June - 14th September</p>
            <p><img src="{{site.baseurl}}assets/images/img.logo-museo-thyssen.png" alt="MUSEO THYSSEN-BORNEMISZA"></p>
            <p class="text-small">Temporary Exhibition Galleries, Ground Floor.</p>
          </div>
          <div class="exhibition col-xs-6 col-xxs-full inner-bottom-sm">
            <h2 class="single-block">Richard Hamilton</h2>
            <p>27th June - 13th October </p>
            <p><img src="{{site.baseurl}}assets/images/img.logo-museo-reina-sofia.png" alt="MUSEO NACIONAL CENTRO DE ARTE REINA SOFÍA"></p>
            <p class="text-small">Edificio Sabatini, Planta 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>