<section id="sponsorship">
  <div class="container inner-top-xs">
    <div class="row">
      <div class="col-sm-3">
        <p class="text-small"><strong>Mitos del Pop</strong> supported by:</p>
      </div>
      <div class="col-sm-3 inner-bottom-xs">
        <img src="{{site.baseurl}}assets/images/img.logo-japan.png" alt="Japan Tobacco International" class="img-responsive">
      </div>
      <div class="col-sm-3">
        <p class="text-small"><strong>Richard Hamilton</strong> sponsored by:</p>
      </div>
      <div class="col-sm-3 inner-bottom-xs">
        <img src="{{site.baseurl}}assets/images/img.logo-abertis.png" alt="Fundación Abertis" class="img-responsive">
      </div>
    </div>
  </div>
</section>